			### Check Readme then change me to .env  ###
REPO_ROOT=# Path of project root hint:> pwd
DOMAIN=Example.com
TZ=Europe/Stockholm
MEDIA_ROOT=/media/content
JELLYFIN_MEDIA_ROOT=${MEDIA_ROOT}/complete/jellyfin
SERVER_ROOT=/opt/server-config
TRANSMISSION_USER=admin
ADMIN_EMAIL=change@me.com # For letsencrypt
ADMIN_PASSWORD=changeme # for transmis
ADMIN_TOKEN=#For vaultwarden, change with echo -n "MySecretPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
